{% load static %}
<div id="album" class="releases spacer">
    <h3><span class="glyphicon glyphicon-music"></span> Album Releases</h3>
    <div class="row">
        <div class="col-sm-3 col-xs-12"><div class="album"><img src="" class="img-responsive" alt="music theme" /><div class="albumdetail"><h5>Music title here</h5><a href="#" class="listen" data-toggle="modal" data-target="#albumdetail"><span class="glyphicon glyphicon-headphones"></span> Listen Song</a></div></div></div>
    
        <div class="col-sm-3 col-xs-12"><div class="album"><img src="" class="img-responsive" alt="music theme" /><div class="albumdetail"><h5></h5><a href="#" class="listen" data-toggle="modal" data-target="#albumdetail"><span class="glyphicon glyphicon-headphones"></span> Listen Song</a></div></div></div>
    
    </div>