{% load static %}
<div id="contact" class="spacer">
    <div class="contactform center">
    <h3><span class="glyphicon glyphicon-envelope"></span> Contact</h3>
      <div class="row">      
          <div class="col-sm-6 col-sm-offset-3 ">
          <h4>Get in touch or<br><b>Just say Hello!</b></h4>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <textarea rows="5" placeholder="Message"></textarea>
            <button class="btn btn-warning bgcolor">Send</button>
          </div>
      </div>

      <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
      <br>
      <br>

      <footer>
        <div class="rounded-social-buttons">
                          <a class="social-button facebook" href="https://www.facebook.com/steverogerswyne" target="_blank"><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;&nbsp;
                          <a class="social-button twitter" href="" target="_blank"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
                          
                          <a class="social-button tiktok" href="https://www.tiktok.com/@steverogerskenya?_t=8mSOrZJsyqT&_r=1" target="_blank"><i class="fab fa-tiktok"></i></a>&nbsp;&nbsp;&nbsp;
                          <a class="social-button youtube" href="https://www.youtube.com/@stevecountrykenya" target="_blank"><i class="fab fa-youtube"></i></a>&nbsp;&nbsp;&nbsp;
                          <a class="social-button instagram" href="https://www.instagram.com/steverogerskenya?igsh=bGJ2ZnRiNGVmdHo3" target="_blank"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
                          <a class="social-button " href="https://wa.me/254726821214?text=Hello%20Steve">

                            <img alt="Chat on WhatsApp" src="{% static 'assets/images/whatsapp.svg' %}" />
                          </a>
                      </div>
      </footer>
    
    
    
    
   
    </div>
    <!--Contact Ends-->
    </div>