<div id="contact" class="spacer">
    <div class="contactform center">
    <h3><span class="glyphicon glyphicon-envelope"></span> Contact</h3>
      <div class="row">      
          <div class="col-sm-6 col-sm-offset-3 ">
          <h4>Get in touch or<br><b>Just say Hello!</b></h4>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <textarea rows="5" placeholder="Message"></textarea>
            <button class="btn btn-warning bgcolor">Send</button>
          </div>
      </div>

      
    
    
    <!-- map -->
    <div class="map clearfix">
    <div class="fb-like-box" data-href="https://www.facebook.com/thebootstrapthemes" data-width="100%" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
    </div>
    <!-- map -->
    
    </div>
    <!--Contact Ends-->
    </div>