<div id="blogevent"  class="blogevent spacer">
    <div class="row">
    
        <!-- events -->
        <div class="col-md-6 col-xs-12">
            <div class="events">
            <h3><span class="glyphicon glyphicon-calendar"></span> Events</h3>
            <ul>
                {% for event in events %}
                <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-lg-4"><a onclick="moreEventDetails('{{event.title}}','{{event.description}}','{{event.image.url}}','{{event.date}}')"><img src="{{event.image.url}}" class="img-responsive" alt="music theme" /></a></div>
                    <div class="col-xs-12  col-sm-6 col-lg-5 "><h5><a onclick="moreEventDetails('{{event.title}}','{{event.description}}','{{event.image.url}}','{{event.date}}')">{{event.title}}</a></h5><p>{{event.description | truncatechars:50 }}</p></div>
                    <div class="col-xs-12  col-sm-3 col-lg-3 date"><b>Date</b><span>{{event.date}}</span></div>
                </div>
                </li>
                {% endfor %}
                
            </ul>
            </div>
        </div>
        <!-- events -->
    
        <!-- blog -->
        <div class="col-md-5 col-md-offset-1 col-xs-12">
            <div class="ourblog">
            <h3><span class="glyphicon glyphicon-book"></span> Blog & News</h3>
                <ul class="row">
                    {% for blog in blogs %}
                  <li class="row"><a onclick="moreBlogDetails('{{blog.title}}','{{blog.content}}','{{blog.image.url}}','{{blog.date}}')" class="col-xs-12 col-sm-3 col-lg-4"><img src="{{blog.image.url}}" class="img-responsive" alt="music theme" /></a>
                  <div class="blogtext col-xs-12 col-sm-9  col-lg-8"><h5><a onclick="moreBlogDetails('{{blog.title}}','{{blog.content}}','{{blog.image.url}}','{{blog.date}}')">{{blog.title}}</a></h5>
                  <small>Posted on:{{blog.date}}</small>
                  <p>{{blog.content | truncatechars:50 }}</p>
                  </div>              
                  </li>
                  {% endfor %}
                            
                </ul>
                </div>
    
        </div>
        <!-- blog -->
    
    </div>
    </div>

    <script>
        
        function moreEventDetails(title,description,image,date){

            alert("yes")

             $("#eventdetail").modal('show')

             document.getElementById("eventTitle").innerHTML = title
             document.getElementById("eventContent").innerHTML = description
             document.getElementById("eventImage").src = image
             document.getElementById("eventDate").innerHTML = date

        }

        function moreBlogDetails(title,content,image,date){

            $("#blogdetail").modal('show')

                document.getElementById("blogTitle").innerHTML = title
                document.getElementById("blogContent").innerHTML = content
                document.getElementById("blogImage").src = image
                document.getElementById("blogDate").innerHTML = date

        }




    </script>