<div id="blogevent"  class="blogevent spacer">
    <div class="row">
    
        <!-- events -->
        <div class="col-md-6 col-xs-12">
            <div class="events">
            <h3><span class="glyphicon glyphicon-calendar"></span> Events</h3>
            <ul>
                <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-lg-4"><a href="#" data-toggle="modal" data-target="#blogdetail"><img src="assets/images/1.jpg" class="img-responsive" alt="music theme" /></a></div>
                    <div class="col-xs-12  col-sm-6 col-lg-5 "><h5><a href="#" data-toggle="modal" data-target="#blogdetail">title here</a></h5><p>description here.</p></div>
                    <div class="col-xs-12  col-sm-3 col-lg-3 date"><b>year</b><span>Date</span></div>
                </div>
                </li>
                
            </ul>
            </div>
        </div>
        <!-- events -->
    
        <!-- blog -->
        <div class="col-md-5 col-md-offset-1 col-xs-12">
            <div class="ourblog">
            <h3><span class="glyphicon glyphicon-book"></span> Blog</h3>
                <ul class="row">
                  <li class="row"><a href="#" data-toggle="modal" data-target="#blogdetail" class="col-xs-12 col-sm-3 col-lg-4"><img src="assets/images/3.jpg" class="img-responsive" alt="music theme" /></a>
                  <div class="blogtext col-xs-12 col-sm-9  col-lg-8"><h5><a href="#" data-toggle="modal" data-target="#blogdetail">New trends in music</a></h5>
                  <small>Posted on:date here</small>
                  <p>description </p>
                  </div>              
                  </li>
                            
                </ul>
                </div>
    
        </div>
        <!-- blog -->
    
    </div>
    </div>