 <!-- Modal -->
 <div class="modal fade" id="blogdetail" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="height:500px;overflow-y: scroll;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  
  
  <div id="blog">
  <h2 id="blogTitle"></h2>
  <small id="blogDate"></small>
        
        <a href="#" class="thumbnail"><img id="blogImage" src="assets/images/1.jpg" class="img-reponsive" alt="blog" /></a>
        
        <div class="col-lg-8 col-lg-offset-2">                                                                           
        <p id="blogContent"></p>
     
        </div>
  
                              
  </div>
  
  
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="eventdetail" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="height:500px;overflow-y: scroll;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  
  
  <div id="event">
  <h2 id="eventTitle" ></h2>
  <small id="eventDate"></small>
        
        <img id="eventImage" src="assets/images/1.jpg" class="img-reponsive" alt="blog" />
        
        <div class="col-lg-8 col-lg-offset-2">                                                                           
        <p id="eventContent"></p>
        
        </div>
  
                              
  </div>
  
  
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal fade" id="albumdetail" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          
  
  
  <h2></h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/GUWN5vrBj4w?si=sorezvPpKnudWpVX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
  
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  