 <!-- Modal -->
 <div class="modal fade" id="blogdetail" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  
  
  <div id="blog">
  <h2>New trends in music</h2>
  <small>Posted on: Jan 20, 2013</small>
        
        <a href="#" class="thumbnail"><img src="assets/images/1.jpg" class="img-reponsive" alt="blog" /></a>
        
        <div class="col-lg-8 col-lg-offset-2">                                                                           
        <p></p>
        <p></p>
        <p></p>
        </div>
  
                              
  </div>
  
  
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="albumdetail" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          
  
  
  <h2></h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/GUWN5vrBj4w?si=sorezvPpKnudWpVX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
  
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  